/* GENERAL */
body {
  font-family: 'Karla', sans-serif;
  background-color: #EBE9E9;
  background-image: url("images/cocktail1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
/* MAIN BUTTON CAROUSEL */
.header {
  width: 80%;
  height: 200px;
  background-color: rgba(57,62,65,0.9);
  margin: 270px auto;
  display: flex;
  justify-content: space-around;
  border-radius: 90px;
}

.currentBtn {
  width: 80%;
  padding: 140px 0 0 0;
  margin: 0;
}

.text-carousel {
  width: 80%;
  padding: 85px 0 0 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 2px 2px #62929E;
}

.text-carousel a {
  font-family: 'Karla', sans-serif;
  width: 100%;
  font-size: 30px;
  color: white;
  display: none;
  cursor: pointer;
  background-color: #62929E;
  padding: 10px;
  border-radius: 20px;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-button {
  align-self: center;
  background: #62929E;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #fa8d8e;
}

.carousel-button:hover {
  cursor: pointer;
  background: #D18585;
  box-shadow: 1px 1px #f2cd99;
  color: white;
}

/* SEARCH INPUT */
#search {
  margin: 20px 20px 0 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  width: 240px;
  height: 30px;
  border-radius: 5px;
  margin-right: 2px;
  padding-left: 10px;
}

#main-btn {
  width: 25px;
  height: 35px;
  border-radius: 5px;
  background-color: #D18585;
}

/* RESULT */
.wrapper {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  overflow: scroll;
  background-color: rgba(255,255,255,0.9);
}

.wrapper div {
  font-family: 'Karla', sans-serif;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

.nameBtn {
  height: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  background-color: #D18585;
  font-size: 10px;
  color: white;
  box-shadow: 0;
  margin: 0 10px 30px 0;
}

#recipe li {
  line-height: 2em;
  text-align: center;
  margin-bottom: 30px;
}

#ingredients li {
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

.image {
  width: 70%;
  border-radius: 8px;
}
/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  /* background: black;  */
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
}

/* TRACKER */
#tracker-btn {
  width: 150px;
  height: 70px;
  letter-spacing: 5px;
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  margin-top: 70px;

  background-color: #62929E;
  color: #F3F8F2;
  border-radius: 8px;

}

#tracker-modal {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#tracker {
	background-color: white;
	height: 900px;
	width: 900px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2)
	padding: 2%;
	line-height: 120%;
}

#close {
	text-align: right;
  top: 20px;
}

h1 {
	padding-bottom: 15px;
}

.modal-buttons {
	padding: 20px 20px;
	background-color: black;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	curor: pointer;
}
