
body {
  font-family: 'Karla', sans-serif;
  background-color: #EBE9E9;
  background-image: url("images/cocktail1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
  margin-top: 0;
  text-align: center;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  width: 9%;
  background-color: #577399;
  color: white;
  text-align: left;
  margin-top: 0;
  padding: 0;


}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 18px 0 0 4px;
  line-height: 0;
}

h2 {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0 0 0 4px;
}

ul {
  list-style: none;
}


/* IMAGE CAROUSEL */
.carousel-container {
  width: 50%;
  margin: 50px auto;

}

.contents {
  width: 100%;
  height: 680px;
  background-color: rgba(255,255,255,0.9);
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  border-radius: 90px;
  padding-right: 15px;
}

#img-carousel {
  width: 60%;
  padding: 85px 0 0 0;
  margin: 0 auto;
  box-sizing: border-box;

}

#img-carousel img {
  width: 100%;
  display: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

#img-carousel img:first-of-type {
  display: block;
  width: 100%;
  margin: 0 auto 50px auto;
}

.img-btn {
  align-self: center;
  text-align: center;
}

.img-btn:hover {
  cursor: pointer;
}

.previous {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid #495867;
  border-radius: 5px;
  padding-left: 10px;
}

.next {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left:20px solid #495867;
  border-radius: 5px;
}

.previous:hover {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid #FF3366;
  border-radius: 5px;
}

.next:hover {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #FF3366;
  border-radius: 5px;
}


/* SEARCH INPUT */
#search {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  height: 20%;
  position: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;

}

input {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  width: 500px;
  height: 50px;
  border-radius: 20px;
  margin-right: 2px;
  padding-left: 10px;
}

#main-btn {
  width: 45px;
  height: 45px;
  border-radius: 20px;
  background-color: #FF3366;
}

#main-btn:hover {
  cursor: pointer;
  background: #495867;
  color: white;
}

/* RESULT */

.wrapper {
  margin-top: 50px;
  height: 600px;
	width: 80%;
  margin: 0 auto;
	z-index: 1;
  overflow: scroll;
  background-color: rgba(255,255,255,0.9);
  border-radius: 15px;
}


.wrapper-close {
  font-size: 35px;
  font-family: 'Fredoka One', cursive;
  color: #577399;
  cursor: pointer;
  text-align: right;
  float: right;
  padding-right: 8px;
  line-height: 0;
}

.wrapper div {
  font-family: 'Karla', sans-serif;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

.nameBtn {
  height: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  background-color: #BDD5EA;
  font-size: 10px;
  color: white;
  box-shadow: 0;
  margin: 0 10px 30px 0;
}

.nameBtn:active {
  outline: none;
  border: 0;
}

.nameBtn:hover {
  cursor: pointer;
  background: #495867;
  color: white;
}

#recipe li {
  line-height: 2em;
  text-align: center;
  margin-bottom: 30px;
}

#ingredients li {
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

.image {
  width: 70%;
  border-radius: 8px;
}

/* TRACKER */
.click {
  background-color: gray;
  position: absolute;
}

.clicked {
  background-color: #FF3366;
}

.clicker {
  cursor: pointer;
}
/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}


/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

.days li {
  list-style-type: none;
  /* display: inline-block; */
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
}

/* TRACKER */
#tracker-btn {
  width: 150px;
  height: 70px;
  letter-spacing: 5px;
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  transform: rotate(-90deg);
  position: fixed;
  right: 0;
  background-color: #495867;
  color: #F3F8F2;
  border-radius: 8px;

}
#tracker-btn:hover {
  background-color: #FF3366;
}

#tracker-modal {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#tracker h1 {
  padding-top: 50px;
  color: #BDD5EA;
}
#tracker {
	background-color: white;
	height: 580px;
	width: 900px;
	border-radius: 2px;
	margin: 153px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2)
	padding: 2%;
	line-height: 120%;
}

#close {
	text-align: right;
  top: 20px;
}

h1 {
	padding-bottom: 15px;
}

.modal-buttons {
  margin: 0;
	padding: 20px 20px;
	background-color: black;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	curor: pointer;
}
