/* =========================
   ======== GENERAL ========
   ========================= */

body {
  font-family: 'Karla', sans-serif;
  background-color: #EBE9E9;
  background-image: url("images/cocktail_img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

/* === ENTIRE PAGE CONTAINER === */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
}


/* =========================
   ======== HEADER =========
   ========================= */

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.logo {
  width: 10%;
  color: #577399;
  text-align: left;
  margin: 0;
  padding: 0 0 0 12px;
  position: flex;
  justify-content: flex-start;
}

.logo h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 9px;
  line-height: 1;
  color: #f7f7ff;
}

.logo h2 {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0 0 0 9px;
  line-height: 0.8;
}

/* === TRACKER BUTTON === */

#tracker-btn, #save-it {
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  background-color: #495867;
  color: #F3F8F2;
  border-radius: 8px;
}

#tracker-btn h5, #save-it h5 {
  transform: rotate(-90deg);
}

#tracker-btn:hover {
  background-color: #FF3366;
}

/* === SAVED RECIPE BUTTON === */

#save-it {
  background-color: #f7f7ff;
  color: #495867;
}

#save-it:hover {
  background-color: #FF3366;
}
/* === TRACKER & SAVED BUTTONS WRAPPER === */

.button-wrap {
  width: 5px;
  height: 10%;
  display: flex;
  justify-content: flex-end;
}


/* =======================
   ======== MAIN =========
   ======================= */

/* === SAVED RECIPE MODAL === */

.save-drinks-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

/* saved recipe modal contents recipe & name */
.saved-recipe, .saved-name {
  width: 80%;
  font-family: 'Karla', sans-serif;
  color: black;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
}


/* === TRACKER MODAL === */

#tracker-modal {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
  text-align: center;
}

#tracker h1 {
  padding-top: 30px;
  color: #BDD5EA;
}

/* modals' content containers */
#tracker, .save-drinks, .wrapper {
	background-color: white;
  width: 900px;
	height: 600px;
	border-radius: 5px;
	margin: 0 auto;
  margin-top : 150px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2)
}

/* tracker close button */
#close, #save-drinks-close, .wrapper-close {
  margin-right: 10px;
	text-align: right;
  top: 20px;
  font-size: 35px;
  font-family: 'Fredoka One', cursive;
  color: #577399;
  cursor: pointer;
}

/* calendar month & days */
.calendar-container {
  color: #495867;
}

.month li {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.days-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.weekdays {
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}

.days {
  padding: 10px 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.days li {
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
}

/* clicker */
.click {
  background-color: gray;
  position: absolute;
}

.clicked {
  background-color: #BDD5EA;
}

.clicker {
  cursor: pointer;
}


/* === IMAGE CAROUSEL === */

/* carousel container */
.carousel-container {
  background-color: rgba(255,255,255,0.9);
  width: 40%;
  height: 30%;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 15px;
}

.contents {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}

/* carousel images */
#img-carousel img {
  width: 100%;
  display: none;
  cursor: pointer;
  border-radius: 15px;
}

#img-carousel img:first-of-type {
  display: block;
}

/* carousel previous & next button */
.img-btn {
  align-self: center;
  text-align: center;
}

.img-btn:hover {
  cursor: pointer;
}

.previous, .next {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-radius: 5px;
}

.next {
  border-left:20px solid #495867;
}

.previous {
  border-right:20px solid #495867;
}

.previous:hover, .next:hover {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-radius: 5px;
}

.next:hover {
  border-left: 20px solid #FF3366;
}

.previous:hover {
  border-right:20px solid #FF3366;
}


/* === FETCH DATA === */

/* user input */
#search {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37%;
  height: 20%;
  margin-top: 60px;
}

input {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  width: 500px;
  height: 50px;
  border-radius: 20px;
  margin-right: 2px;
  padding-left: 10px;
}

/* search button */
#main-btn {
  width: 45px;
  height: 45px;
  border-radius: 20px;
  background-color: #FF3366;
}

#main-btn:hover {
  cursor: pointer;
  background: #495867;
  color: white;
}

/* API DATA MODAL */

.search-result-modal {
  position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
  margin: 0 auto;
}

.wrapper {
  font-family: 'Karla', sans-serif;
  width: 70%;
  height: 90%;
  margin: 0 auto;
  margin-top: 40px;
  overflow: scroll;
  border-radius: 15px;
}

.nameBtn, .save {
  height: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  background-color: #495867;
  font-size: 12px;
  color: white;
  box-shadow: 0;
  margin: 0 10px 30px 0;
}

.nameBtn:hover {
  cursor: pointer;
  background: #BDD5EA;
  color: black;
}

/* api data modal save button*/
.save {
  width: 19%;
  background-color: #577399;
  text-align: center;
  padding-bottom: 15px;
  margin-right: 20px;

}

.save p {
  font-size: 14px;
}

.save:hover {
  cursor: pointer;
  background: #495867;
  color: white;
}

/* api data save & close button wrapper */
.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* api data contents */
#name, #nameAlone, #recipe, #ingredients, .imgs{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#recipe li {
  line-height: 2em;
  text-align: center;
  margin-bottom: 30px;
}

#ingredients li {
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

.image {
  width: 70%;
  border-radius: 8px;
}


/* =========================
   ======== FOOTER =========
   ========================= */

footer {
  background-color: #577399;
  color: #f7f7ff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  padding: 11px 15px 25px 0;
  text-align: right;
}

footer p {
  font-family: 'Karla', sans-serif;
  padding-right: 25px;
  color: #f7f7ff;
}

span {
  color: #BDD5EA;
}


/* ==============================
   ======== MEDIA QUERY =========
   ============================== */

@media only screen and (max-device-width: 770px) {
/* For tablets: */

  /* GENERAL */
  body {
    background-image: url("images/cocktail_img2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
  }

  /* HEADER */

  /* LOGO */
  .logo {
    width: 30%;
  }
  .logo h1 {
    font-size: 80px;
  }

  .logo h2 {
    font-size: 60px;
  }

  /* SEARCH BAR */
  #search {
    width: 60%;
    margin: 0 auto;
    margin-top: 280px;
  }

  input {
    font-size: 25px;
    width: 500px;
    height: 100px;
    border-radius: 20px;
    margin-right: 2px;
    padding-left: 10px;
  }

  /* SEARCH BAR BUTTON */
  #main-btn {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 120px;
    background-color: #FF3366;
  }

  /* TRACKER */
  #tracker-btn h5, #save-it h5{
    font-size: 22px;
    transform: rotate(360deg);
  }

  #tracker h1 {
    padding-top: 10px;
    padding-bottom: 0;
    color: #BDD5EA;
  }

  #tracker {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 350px;
    text-align: center;
  }

  #close {
    margin-top: 10px;
    line-height: 2;
  }

  /* CALENDAR */

  .weekdays {
    font-size: 25px;
    padding-left: 18px;
  }

  .days {
    font-size: 35px;
  }

  /* IMAGE CAROUSEL */
  .carousel-container {
    margin: 0 auto;
    margin-top: 250px;
    width: 40%;
    height: 30%;
  }


  /* API DATA MODAL */
  .wrapper {
    margin-top: 180px;
    width: 80%;
    height: 70%;
  }

  .nameBtn {
    font-size: 25px;
    box-shadow: 0;
    margin: 0 30px 30px 0;
  }

  .nameBtn:active {
    outline: none;
    border: 0;
    background-color: #577399;
  }

  .nameBtn:hover {
    cursor: pointer;
    background: #495867;
    color: white;
  }

  /* RECIPE SAVE BUTTON */
  .save {
    height: 45px;
    font-size: 35px;
    margin-right: 50px;
  }

  #recipe li {
    line-height: 2em;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  }

  #ingredients li {
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
  }

  /* SAVED RECIPE MODAL */
  .save-drinks {
    width: 80%;
    margin-top: 250px;
  }

  .saved-recipe {
    width: 100%;
    font-size: 25px;
  }

}

@media only screen and (max-device-width: 480px) {
/* For mobile phones: */

body {
 background-image: url("images/cocktail_img2.png");
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height:100%;
 width:100%;
}

.logo {
 width: 30%;
}
.logo h1 {
 font-size: 80px;
}

.logo h2 {
 font-size: 60px;
}

#search {
 width: 60%;
 margin: 0 auto;
 margin-top: 480px;
}

#main-btn {
 margin-left: 10px;
}

input {
 font-size: 35px;
 width: 500px;
 height: 100px;
 border-radius: 20px;
 margin-right: 2px;
 padding-left: 10px;
}

#main-btn {
 width: 100px;
 height: 100px;
 border-radius: 120px;
}

#tracker-btn h5, #save-it h5{
font-size: 22px;
transform: rotate(360deg);
}

/* TRACKER CALENDAR */
#tracker h1 {
 padding-top: 10px;
 padding-bottom: 0;
}

#tracker {
 background-color: white;
 width: 80%;
 margin: 0 auto;
 margin-top: 450px;
 text-align: center;
}

#close {
 margin-top: 10px;
 line-height: 2;
 font-size: 40px;
}

.weekdays {
 font-size: 35px;
 padding-left: 18px;
}

.days {
 font-size: 45px;
}

/* API DATA MODAL */

.wrapper {
 width: 80%;
 height: 70%;
 margin: 0 auto;
 margin-top: 180px;
}

.nameBtn {
 font-size: 30px;
 margin: 0 30px 30px 0;
}

#name li {
  font-size: 45px;
}

#recipe li {
 line-height: 2em;
 text-align: center;
 margin-bottom: 30px;
 font-size: 35px;
}

#ingredients li {
 line-height: 1.5em;
 text-align: center;
 margin-bottom: 50px;
 font-size: 35px;
}

.save-drinks {
 width: 80%;
 margin-top: 250px;
}

.saved-recipe {
 width: 100%;
 font-size: 20px;
}

/* RECIPE SAVE BUTTON */
.save {
 height: 45px;
 font-size: 25px;
}

/* IMAGE CAROUSEL */
.carousel-container {
 margin: 0 auto;
 margin-top: 250px;
 width: 60%;
 height: 30%;
}

}
